<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <title>Zookeeper</title>
  <link rel="stylesheet" th:href="@{./layui/css/layui.css}" />
  <link rel="stylesheet" th:href="@{./font-awesome/css/font-awesome.min.css}" />
</head>
<body>
  
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
  <legend><a href="./">返回首页</a></legend>
</fieldset> 
  <input th:value='${ip}' id="zkip" type="hidden">
  <input th:value='${timeout}' id="zktimeout" type="hidden">
  <input th:value='${sleep}' id="zksleep" type="hidden">
  <input th:value='${node}' id="zknode" type="hidden">
  <br/>
  <div id="nodetree"></div>
  

   <script th:src="@{./layui/jquery-2.1.4.min.js}" type="text/javascript"></script>
  <script th:src="@{./layui/layui.all.js}" type="text/javascript"></script>
  <script type="text/javascript">
     //Demo
layui.use(['tree', 'layer'], function(){
  var layer = layui.layer,$ = layui.jquery; 
 
  $.get('./zookeeper/tree?ip='+$('#zkip').val()+'&timeout='+$('#zktimeout').val()+'&sleep='+$('#zksleep').val(),function(data,status){
	  layui.tree({
	    elem: '#nodetree' //指定元素
	    ,skin: 'shihuang'
	    ,target: '_blank' //是否新选项卡打开（比如节点返回href才有效）
	    ,click: function(item){ //点击节点回调
	      showMenu(this,item);
	    }
	    ,nodes: [data] //节点
	  });
	  
  });
  
  
  
  
  
  function showMenu(e,item){
	    var path=item.node.path;
	    var data=item.node.data;
	    
	    if(path=='/'){
	    	var menuhtml='<button style="width:90px;height:20px;" id="add_rootnode" ><i class="fa fa-plus-circle" aria-hidden="true">新增子节点</i></button>'+
				    '<button style="width:90px;height:20px;" id="search_rootnode" ><i class="fa fa-search" aria-hidden="true">查看节点树</i></button>'+
				    '<button style="width:90px;height:20px;" id="edit_rootnode" ><i class="fa fa-edit" aria-hidden="true">编辑根权限</i></button>';
	    	var dindex=layer.open({
			     	id:'right_menu',
					type: 1,
					title: false,
					closeBtn: 0,					  
					area: ['90px', '60px'],
					offset: ClickPx(e),
					shadeClose: true,
					shade: 0.01,				  					  
					content:menuhtml
			   });
	    	
	    	    $('#add_rootnode').click(function(){
			     layer.close(dindex);
			     addNode(path);
			     //openTableWin(TABLE_NAME,TABLE_SCHEMA,'新建数据库','/db/mysql/mysql_data');
			   });
			   $('#search_rootnode').click(function(){
			     layer.close(dindex);
			     perContent=layer.open({
			        type: 2 //
			        ,title: '节点树'
			        ,area: ['1000px', '800px']
			        ,shade: 0
			        //,maxmin: true
			        ,offset:'auto' 
			        ,content: './jump?html=zookeeper&ip='+$('#zkip').val()+'&timeout='+$('#zktimeout').val()+'&sleep='+$('#zksleep').val()
			      });
			     layer.full(perContent);
			     
			     
			   });
			   $('#edit_rootnode').click(function(){
			     layer.close(dindex);
			     editPerms(path)
			     //openTableWin(TABLE_NAME,TABLE_SCHEMA,'备份数据库','/db/mysql/mysql_data');
			   });
	    	
	    	
	    }else{//子节点管理
	    	var menuhtml='<button style="width:90px;height:20px;" id="add_node"><i class="fa fa-plus-circle" aria-hidden="true">新增节点</i></button>'+
				    '<button style="width:90px;height:20px;" id="search_node"><i class="fa fa-search" aria-hidden="true">查看节点</i></button>'+
				    '<button style="width:90px;height:20px;" id="edit_node_data"><i class="fa fa-edit" aria-hidden="true">编辑数据</i></button>'+
				    '<button style="width:90px;height:20px;" id="edit_node_perms"><i class="fa fa-edit" aria-hidden="true">编辑权限</i></button>'+
				    '<button style="width:90px;height:20px;" id="delete_node"><i class="fa fa-trash" aria-hidden="true">删除节点</i></button>';
	   
	        
			var dindex=layer.open({
			     	id:'right_menu',
					type: 1,
					title: false,
					closeBtn: 0,					  
					area: ['90px', '100px'],
					offset: ClickPx(e),
					shadeClose: true,
					shade: 0.01,				  					  
					content:menuhtml
			   });
			   $('#add_node').click(function(){
			     layer.close(dindex);
			     addNode(path);
			     //openTableWin(TABLE_NAME,TABLE_SCHEMA,'新建数据库','/db/mysql/mysql_data');
			   });
			   $('#search_node').click(function(){
			     layer.close(dindex);
			     console.log(path);
			     //openTableWin(TABLE_NAME,TABLE_SCHEMA,'导入数据库','/db/mysql/mysql_data');
			   });
			   $('#edit_node_data').click(function(){
			     layer.close(dindex);
			     
			      //例子2
					layer.prompt({
					  formType: 2,
					  value: data,
					  title: '请输入数据',
					  area: ['300px', '200px'] //自定义文本域宽高
					}, function(value, index, elem){
					  alert(value); //得到value
					  layer.close(index);
					});
			     
			     
			   });
			   $('#edit_node_perms').click(function(){
			     layer.close(dindex);
			     editPerms(path);
			     //openTableWin(TABLE_NAME,TABLE_SCHEMA,'删除数据库','/db/mysql/mysql_data');
			   });
			   $('#delete_node').click(function(){
			     layer.close(dindex);
			     console.log(path);
			     //openTableWin(TABLE_NAME,TABLE_SCHEMA,'数据库属性','/db/mysql/mysql_data');
			   });
	    
	    }
	    
	    
		
	  
  }
  
  
  function ClickPx(e){
 	    var e = event || window.event;
		var scrollX = document.documentElement.scrollLeft || document.body.scrollLeft;
   		var scrollY = document.documentElement.scrollTop || document.body.scrollTop;
   		var x = e.pageX || e.clientX + scrollX;
   		var y = e.pageY || e.clientY + scrollY;	
 	    return [(y)+'px',
            (x)+'px'];
  }
          	    
  function Clickmust(event){
        var x=event.pageY;
        var y=event.pageY;
	    if(x || y){
	        return [x,y];
	    }
	    var cx=(event.clientY + document.body.scrollTop - document.body.clientTop);
	    var cy=(event.clientX + document.body.scrollLeft - document.body.clientLeft);
	    return[cx,cy];
  }
  
  
  function addNode(path){
	  
	  //多窗口模式，层叠置顶
      layer.open({
        type: 2 //
        ,title: '新增子节点'
        ,area: ['650px', '400px']
        ,shade: 0
        //,maxmin: true
        ,offset:'auto' 
        ,content: './jump?html=zookeeper/addZkNode&ip='+$('#zkip').val()+'&timeout='+$('#zktimeout').val()+'&sleep='+$('#zksleep').val()
      });
	  
  }
  
  
  function editPerms(path){
	  //多窗口模式，层叠置顶
      layer.open({
        type: 2 //
        ,title: '权限管理'
        ,area: ['840px', '500px']
        ,shade: 0
        ,maxmin: true
        ,offset:'auto' 
        ,content: './jump?html=zookeeper/permsZkNode&ip='+$('#zkip').val()+'&timeout='+$('#zktimeout').val()+'&sleep='+$('#zksleep').val()+'&node='+path
      });
	  
  }
  
  
  
  function showMsg(item){
	  
	  var trperms='';
		  for(var i=0;i<item.node.permsid.length;i++){
			  var ip=item.node.permsid[i];
			  trperms=trperms+'<tr><td>节点权限['+(i+1)+']</td>' +
			      '<td>'+ip+'</td>' +
			      '<td><button class="layui-btn layui-btn-sm layui-btn-normal addip">编辑</button></td></tr>';
		  }
		  
	      layer.open({
	    	title: '节点管理'
	        ,type: 1
	        //,area: ['500px', '300px']
	        ,offset: 'auto' //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
	        ,id: 'layerauto' //防止重复弹出
	        ,content: '<table class="layui-table">' +
			  '<colgroup>' +
			    '<col width="150">' +
			    '<col width="200">' +
			    '<col>' +
			  '</colgroup>' +
			  '<thead>' +
			   ' <tr>' +
			      '<th>信息</th>' +
			      '<th>数据</th>' +
			      '<th>操作</th>' +
			    '</tr> ' +
			  '</thead>' +
			  '<tbody>' +
			    '<tr>' +
			      '<td>节点路径</td>' +
			      '<td>'+item.node.path+'</td>' +
			      '<td><button class="layui-btn layui-btn-sm addnode">新增</button></td>' +
			    '</tr>' +
			    '<tr>' +
			      '<td>节点数据</td>' +
			      '<td>'+item.node.data+'</td>' +
			      '<td><button class="layui-btn layui-btn-sm layui-btn-normal adddata">编辑</button></td>' +
			    '</tr>' +trperms+
			  '</tbody>' +
			'</table>'
	        //,btn: '关闭'
	        ,btnAlign: 'c' //按钮居中
	        ,shade: 0 //不显示遮罩
	        ,yes: function(index){
	          layer.close(index);
	        }
	      });
	      
	      $('.addnode').click(function(){
	    	 var path=$(this).parent().siblings().eq(1).text();
	    	 console.log(path);
	      });
	      $('.adddata').click(function(){
	    	 var data=$(this).parent().siblings().eq(1).text();
	    	 var path=$(this).parent().parent().siblings().eq(0).children().eq(1).text();
	    	 console.log(data);
	    	 console.log(path);
	      });
	      
	      $('.addip').click(function(){
	    	 var ips=$(this).parent().siblings().eq(1).text();
	    	 var path=$(this).parent().parent().siblings().eq(0).children().eq(1).text();
	    	 console.log(ips);
	    	 console.log(path);
	      });
	  
  }
  
  
  
});
   </script>

 </body>
</html>